page-basket {

<<<<<<< HEAD


  .fotText{
    margin-right: 8px;
  }
=======
    ion-content {
        border-radius: 50%;
    }

    ion-searchbar {
        border-radius: 50%;

    }

    .searchbar {

        border-radius: 50%;


    }
>>>>>>> master

}
