page-profil {
  background: #FFA51E;


  .item-borderless{
    background: #FFA51E;
    text-align: center;
    font-family: "GT Walsheim Medium Oblique", sans-serif;
  }

  .name{
    size: 70px;

  }
  .nameBasket{
    position: absolute;
    text-align: center;
    font-family: "GT Walsheim Medium Oblique", sans-serif;
    width: 100%;
    size: 40px;
    border-style: none;
  }

  .content{
    background: #FFA51E;
  }


  .fotText{
    overflow: auto;

  }

  .line{
    border-bottom: 1px solid grey !important;
  }

  .sum{

  }


  .payBox{

  }

  .payButton{
    width: 100%;
    position: relative;
    background:  #1bb776;
  }




}
