page-profil {


  .nameBasket{
    position: absolute;
    text-align: center;
    font-family: "GT Walsheim Medium Oblique", sans-serif;
    width: 100%;
    border-style: none;
  }


  .payBox{

  }

  .payButton{
    width: 100%;
    position: relative;
    background:  #1bb776;
  }

  .text-on-bottom > .button-inner {
    flex-direction: column;
  }


}
