page-authorize {

  ion-content{
    background: url("https://kolonial.no/static/img/og-1200x630.f2845d3eec83.jpg");
    background-size: cover;
  }

  .container{
    width: 80%;
    height: 45%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  .text-input-field{
    background: rgba(255,255,255,0.85);
    padding: 5px;
    border: 2px solid #F6F6F6;
    border-radius: 3px;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.14);
  }

  .loginButtons{
    background: rgba(255,255,255,0.85);
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.14);
    color: #000;
  }

}
