page-authorize {

  ion-content{
  //  background: url("https://kolonial.no/static/img/og-1200x630.f2845d3eec83.jpg");
     background-size: cover;
    background-image: url("../../assets/imgs/kolo-forside.jpg");
  //  transform: rotate(180deg);
   //background-color: orange;
  }

  .topText{
    margin-top: 30px;
  }

  .frontTitle{
    color: #F6F6F6;
    font-family: "GT Walsheim Medium Oblique", sans-serif;
    size: 20px;
    text-align: center;

  }

  .container{
    background: #FFA51E;
    width: 80%;
    height: 28%;
    margin: auto;
    position: absolute;
    margin-top: 200px;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  .text-input-field{
    background: rgba(255,255,255,0.85);
    padding: 5px;
    border: 2px solid #F6F6F6;
    border-radius: 1px;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.14);
    font-family: "GT Walsheim Medium", sans-serif;

  }

  .buttonsLogin{
    width: 80%;
    height: 0;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: -20%; right: 0;
  }

  .loginButtons{
    background: #FFA51E;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.14);
    color: #F6F6F6;
    font-family: "GT Walsheim Medium", sans-serif;
  }

  .registerButtons{
    background: #FFA51E;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.14);
    color: #F6F6F6;
    font-family: "GT Walsheim Medium", sans-serif;
  }

}
