.background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 1.7em;
      width: 100%;
      // font-weight: bold;
      color: #FFF;
      // font-family: "GT Walsheim Regular", sans-serif;
       // font-family: "GT Walsheim Regular Oblique", sans-serif;
      // font-family: "GT Walsheim Medium", sans-serif;
      font-family: "GT Walsheim Medium Oblique", sans-serif;
    }
  /*
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  */
 .span {
   display: block;
   font-size: 5rem;

 }

  
page-home {

}
}