page-friend-list {

  ion-content{
    background: url("https://kolonial.no/static/img/og-1200x630.f2845d3eec83.jpg");
    background-size: cover;

  }

  .container {
    border: 2px solid #222222;
    border-radius: 1px;
 }


 .email {
   font-size: 25px;
   border-bottom: 1px solid #222222 !important;
  // color: white;
  // background: orange;
   font-weight: bold;
 }

 .navn-handleliste {
   font-size: 22px;
 //  background-color: orange;
   color: black;
   font-family: "GT Walsheim Medium Oblique", sans-serif;
 }

  .newMem{
    color: #222222;
  }


 .legg-til-medlemmer {
   color: black;
 }

 .plus-btn {
   font-size: 40px;
   color: #222222;
 }

 .add-email {
   font-size: 25px;
  // background-color: orange;
 }


 .btnKlar {
   font-size: 30px;
   color: black;
 //  background: #1bb776;

 }
  .handlelis{
  color: black;
 }

  .icon{
    color: #000;
  }





  .ownerName{
   right: 50%;
  }
}
