page-friend-list {

  ion-content{
    background: url("https://kolonial.no/static/img/og-1200x630.f2845d3eec83.jpg");
    background-size: cover;
    
  }

  .container {
    background: orange;
    height: 85%;
    
 }

 .email {
   font-size: 25px;
   color: white;
   background: orange;
   font-weight: bold;
 }

 .navn-handleliste {
   font-size: 25px;
   background-color: orange;
  // color: black;
 }

 .legg-til-medlemmer {
   color: black;
 }
 
 .plus-btn {
   font-size: 40px;
   color: black;
 }

 .add-email {
   font-size: 25px;
   background-color: orange;
 }

 .epost-label {
   color: black;
   
 }

 .btnKlar {
   font-size: 30px;

 }





  .ownerName{
   right: 50%;
  }
}
