page-friend-list {

  .container {
    //background: url("https://www.roail.no/images/1198");
     // background-size: cover;
     background: orange;

  }

  ion-content{
    background: url("https://kolonial.no/static/img/og-1200x630.f2845d3eec83.jpg");
    background-size: cover;
    //background-color: orange;
  }

  .ownerName{
   right: 50%;
  }
}
