
<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">

<ion-content padding>
    <ion-card class="container">

      <ion-item end class="email">
        <ion-icon name="cart">
          {{owner}}
        </ion-icon>
      </ion-item>


<form
  [formGroup]="form"
  (ngSubmit)="manage(form.value)">

  <ion-list>

    <ion-item class="navn-handleliste">
      <ion-input formControlName="name" #nameBasket placeholder="Navn på Handlelisten:">{{nameBasket}}</ion-input>
    </ion-item>

    <span class="newMem"
      ion-button
      float-left
      icon-left
      clear
      (click)="addNewInputField()">
               <ion-icon name="add" class="plus-btn"></ion-icon>
               Legg til medlemmer
         </span>



    <!-- Assign the technologies FormArray to the form
         where we want to track/generate new input track fields -->
    <div
      formArrayName="friends"
      margin-bottom>


      <!-- Assign a FormGroupName property binding to track
           and manage each separate generated input field.
           Also iterate through the technologies FormArray to
           correctly track/render new input fields against
           existing fields -->
      <section
        [formGroupName]="i"
        *ngFor="let friend of form.controls.friends.controls; let i = index">
        <ion-item-group>
          <ion-item class="add-email">
            <ion-label color="black" stacked>Epost-Adresse/Telefonnummer:</ion-label>
            <ion-input
              formControlName="name">
            </ion-input>
          </ion-item>


          <!-- Allow generated input field to be removed -->
          <span class="newMem"
            float-right
            ion-button
            icon-left
            clear
            *ngIf="form.controls.friends.length > 1"
            (click)="removeInputField(i)">
                     <ion-icon name="close"></ion-icon>
                     Fjern
                  </span>
        </ion-item-group>
      </section>
    </div>


    <!-- Allow new input field to be generated/added -->


  </ion-list>
  <button
    ion-button
    block
    margin-top
    text-center
    [disabled]="!form.valid" (click)="goToBasketList(nameBasket.value)"  class="btnKlar">Klar</button>
</form>
</ion-card>

</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-segment>
      <ion-segment-button (click)="goToHome()"><ion-icon name="home" class="icon"></ion-icon></ion-segment-button>
      <ion-segment-button (click)="goToMakeList()"><ion-icon name="people"></ion-icon></ion-segment-button>
      <ion-segment-button (click)="goToBasket(nameBasket.value)"><ion-icon name="cart"></ion-icon></ion-segment-button>
      <ion-segment-button (click)="goToProfil(nameBasket.value)"><ion-icon name="card"></ion-icon></ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
