page-detail {

  .productView{
    width: 20%;
    height: 20%;
  }

  .btnBasket{
    width: 35%;
    height: 35%;
  }

  .leggTil{
   background: #FFA51E;
  }

  .countButtons{
    color: #FFA51E;

  }

  .fotText{
    margin-right: 8px;
  }

  .iconS{
    color: #000;
  }
}
