page-detail {

  .productView{
    width: 20%;
    height: 20%;
  }

  .btnBasket{
    width: 35%;
    height: 35%;
  }


  .countButtons{
    color: #FFA51E;
  }

  .fotText{
    margin-right: 8px;
  }
}
